/extract_objects.js
/node_modules
/package-lock.json
/extract_constituents.js
/constituents_ids.json
/make_object_csv.js
/make_constituents_csv.js
/objects.new.csv
/constituents.new.csv
/make_sigg_object_csv.js
/extract_sigg_objects.js
/instructions.txt
